<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
				 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<container>
			<!-- Default DAL registration -->
			<register type="UseingAppConfig.Idal, UseingAppConfig"
					  mapTo="UseingAppConfig.SqlServer, UseingAppConfig" />

			<!-- Optional named Oracle registration -->
			<register type="UseingAppConfig.Idal, UseingAppConfig"
					  mapTo="UseingAppConfig.oracleServer, UseingAppConfig"
					  name="oracle" />

			<!-- Customer class -->
			<register type="UseingAppConfig.Customer, UseingAppConfig" />
		</container>
	</unity>

	<startup>
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
